# Python cache & artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
env/
venv/

# Environment files (secrets)
.env
.env.*
.idea

# Gitleaks reports
gitleaks-report.json
gitleaks-clean.json

# IDE/project files
.idea/
.vscode/
*.iml

# Docker artifacts
*.log
*.pid
*.tar
*.gz
*.bak

# OS files
.DS_Store
Thumbs.db
